@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*============ CSS Typography and Colors ================*/

/*======================= Fonts =========================*/
body
{
	font-family: 'Open Sans','Arial', sans-serif;
	font-size: 14pt;
    color: #4A4A4A;
}

h1{
     font-size: 24pt;
    color: #4A4A4A; 
    font-weight: bold;
}

h2{
    font-size: 24pt;
    color: #4A4A4A;
        text-transform: uppercase;
    }

h3 {
    font-size: 14pt;
    color: #4A4A4A;
}

h4 {
    font-size: 18pt;
    color: #4A4A4A;
    text-transform: uppercase;
}

#nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4A4A4A;
}

.button {
    text-decoration: none;
}

#nav .button {
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	padding: 15px;
}

footer {
	color: #EFEFEF;
	font-size: 10pt;
}

footer a {
    text-decoration: none;
}

.sectionheader h2 {
    font-size: 32pt;
    line-height: 40pt;
    font-weight: light;
    color: #E67F0E;
    background-color: #FFFFFF;
}

#who h2 {
text-align:center;
}

#who p {
text-align:center;
}

#getInvolved h2{
    text-align: center;
}

#getInvolved p{
    text-align: center;
}

label {
    font-size: 10pt;
    font-weight: bold;
}

input {
    font-size: 12pt;
}

/*==================== Backgrounds =====================*/
header {
    background-color: #EFEFEF;
    padding-top: 19px;
    padding-bottom: 19px;
}

footer {
    background-color: #4A4A4A;
    padding-top: 15px;
    padding-bottom: 15px;
}

#masthead-blog {
    background-image: url('media/baby.jpg');
    background-size: cover;
}

#masthead-donate {
    background-image: url('media/girlNet.jpg');
    background-size: cover;
}

form {
    background-color: #EFEFEF;
    border-radius: 5px;
}

#masthead-home {
    background-image: url('media/kidsBed.jpg');
    background-size: cover;
}


/*================== Heights, Widths, Margin, Padding ===================*/
#website-title img {
    width: 303px;
    height: 37px;
    padding-left: 40px;
}

#nav a {
	margin-right: 40px;
}

.sectionheader {
    padding-top: 10%;
    padding-bottom: 10%;
}

.sectionheader-home {
    padding-top: 28%;
    padding-bottom: 15%;
}

body{
  margin: 0px;
  padding: 0px;
}

#main {
	margin-bottom: 120px;
}

#legal {
    margin-left: 40px;
    margin-top: 28px;
}

/* Blog font styles */
article h2 {
    margin-top: 0px;
}

article h3 {
    margin-bottom: 0px;
    padding-top: 50px;
}

/* About font */
.sectionheader h2 {
    padding: 5px 25px;
}


#who, #getInvolved {
    margin-top: 70px;
}    

#sendNet,
#joinTeam,
#advocate {
    text-align: center;
    padding: 20px;
    padding-top: 30px;
}

#sendNet img {
    width: 90px;
    height: 90px;
}

#joinTeam img {
    width: 90px;
    height: 90px;
}

#advocate img {
    width: 90px;
    height: 90px;
}

#sendNet p {
    padding-bottom: 50px;
}

#joinTeam p {
    padding-bottom: 50px;
}

#advocate p {
    padding-bottom: 50px;
}

/* Donate */
form {
    padding: 25px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 60px;
    margin-bottom: 0px;
}

form h2 {
    margin-bottom: 40px;
}

/* Justify labels */
label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 15px;
}

input {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 4px;
}

#submitButton {
    margin-top: 45px;
    margin-left: 40%;
    margin-bottom: 50px;
    }

/*====================== Extras =======================*/
#submitButton {
color: #FFFFFF;
    background-color: #E67F0E;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10pt;
    border: none;
    display: block;
    width: 140px;

}

.button {
    color: #FFFFFF;
    background-color: #E67F0E;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10pt;
}

#nav {
	float: right;
}

footer li {
    list-style-type: none;
    display: inline;
}

#socialMedia {
    float: right;
    margin-right: 40px;
}

.sectionheader h2 {
    float: right;
}

.sectionheader-home h1 {
    float: right;
    color: #FFFFFF;
    margin-left: 50%;
    padding-right: 15px;
}

.sectionheader-home .button {
    margin-left: 50%;
    padding-right: 20px;
    color: #E67F0E;
    background-color: #FFFFFF;
}

#masthead-donate h2 {
    float: left;
    margin-left: 50px;
}

#sendNet,
#joinTeam,
#advocate {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top:1px solid #ccc;
    
}

form h3 {
    margin-bottom: 0px;
}


/*======================== Grid =======================*/
* {
    box-sizing: border-box;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.one-whole {
    width: 100%;
}

.one-half {
    width: 50%;
}

.one-third {
	width: 33%;
}

.column {
	float: left;
}

.container {
	width: 955px;
	margin: auto;
}



/*============= Pseudo Classes & Elements ============*/
#nav a:hover {
    border-bottom: 2.5px solid #4A4A4A;
}

#nav a.button:hover {
    border-bottom: none;
      background-color: #FFFFFF;
    color: #E67F0E;
}

.sectionheader-home a.button:hover {
    background-color: #E67F0E;
    color: #FFFFFF;
}

#socialMedia a:visited {
  color : #EFEFEF;
}


